###### Ignore the following files ######

### data 
data/count_matrices
data/cellranger_output
data/public_datasets/Baccin_2019/NicheData10x.rda
data/public_datasets/Baccin_2019/FilteredCounts10x.csv
data/public_datasets/Nestorowa_2016/HTSeq_counts.txt
data/public_datasets/Nestorowa_2016/control_and_Nestorowa_combined.h5seurat
data/public_datasets/Nestorowa_2016/control_and_Nestorowa_combined.h5ad
data/public_datasets/Nestorowa_2016/control_and_Nestorowa_combined_batch_corrected.txt

### code


### figures
figures/
extra_figures/

### other
.DS_Store
code/.DS_Store
data/.DS_Store
results/.DS_Store
